
# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Debugging
*.swp
*.swo

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov
.nyc_output/

# Dependency directories
inventory-management-system-backend/node_modules/
inventory-management-system-frontend/node_modules/

# Env files
.env
.env.*.local

# Build
inventory-management-system-frontend/build/
inventory-management-system-frontend/.cache/
inventory-management-system-frontend/.env

.DS_Store